.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: "NTR", sans-serif;
    color: #fff;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.addFood{
    font-size: 5rem;
    color: #fff;
    padding: 0;
    margin-left:20vw;
    font-weight: 300;
    line-height: 100%;
}

.foodList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:15vh;
    margin-top: 1rem;
}
  
.deleteSwipe {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "NTR", sans-serif !important;
    font-size: 1.5rem !important;
    color: #fff;
    background-color: red;
    display: flex !important;
    text-align: right !important;
    justify-content: flex-end !important;
    align-items: center !important;
    height: 7vh;
    width: 80vw;
}

.deleteSwipe p{
    margin-right: 4vw;
}


.foodItemContainer {
    position: relative;
    overflow: hidden;
    width: 80vw;
    height: 7vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.foodItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    position: relative;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    color: var(--primary-color);
    font-family: "NTR", sans-serif;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.foodItem p {
    margin: 0 4vw;
}

.foodCalories {
    color: var(--secondary-color);
}

.noData{
    width: 80vw;
    font-family: "NTR" , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-size: 1.3rem;
}

.dateContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.buttonDate{
    padding:0;
    margin:0;
    height: 40px;
}

.date{
    font-family: "NTR", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    color: var(--secondary-color);
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
}