.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.scheduleDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5vh;
  align-items: center;
}

.scheduleTitle {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "NTR", sans-serif;
  color: white;
}

.scheduleInfo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "NTR", sans-serif;
  color: white;
}

.exerciseName {
  font-size: 1.5rem;
  font-weight: 250;
  text-align: center;
  width: 70vw;
  margin-bottom: 0;
  font-family: "NTR", sans-serif;
  color: white;
}

.set {
  display: flex;
  font-weight: 100;
  flex-direction: row;
  margin-top: -4vh;
}

.stickyDiv {
  position: sticky;
  top: -7vh;
  height: 15vh;
  display: flex;
  padding: 1vh;
  width: 100%;
  flex-direction: row;
  background-color: var(--primary-color);
  align-items: flex-end;
  justify-content: flex-end;
}

.stickyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  border-radius: 15px;
  margin-right: 10vw;
  margin-bottom: 3vw;
  height: 5vh;
  background-color: #f8f4e3;
  color: var(--primary-color);
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
  line-height: 120%;
}

.exercise{
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    margin: 4vh 0;
    width: 70vw;
    padding: 3vh 2vh;
    background-color: var(--secondary-lowOpacity-color);
}

.progressNone{
    color: #b0afaf;
    font-family: "NTR", sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    line-height: 120%;
    margin: 10px;
}

.offlineButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    border-radius: 15px;
    margin-bottom: 15vh;
    height: 5vh;
    background-color: #fff;
    color: var(--primary-color);
    font-family: "NTR", sans-serif;
    font-size: 1.2rem;
    line-height: 120%;
}