.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputField{
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    border: 3px solid #fff;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--primary-color);
    padding-left: 1vw;
    font-size: 1.2rem;
    font-family: "NTR", sans-serif;
}

.inputField::placeholder{
    color: var(--primary-color);
    font-family: "NTR", sans-serif;
    font-size: 1.2rem;
}

.product{
    width: 80vw;
    height: 7vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productName{
    color: var(--primary-color);
    font-family: "NTR", sans-serif;
    font-size: 1.2rem;
    width: 70vw;
    text-align: center;
}

.productList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
}

.error{
    color: #fff;
    font-family: "NTR", sans-serif;
    font-size: 1.2rem;
    margin-top: 2vh;
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
}

.buttonFrom{
    width: 15vw;
    height: 5vh;
    font-family: "NTR", sans-serif; 
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-left: 3vw;
}

.buttonFrom.active{
    color: #fff;
    background-color: var(--secondary-color);
}

.fromContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35vw;
    margin-left:2vw;
}

.titleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    width: 90vw;
}