body{
  background-color: var(--primary-color);
  -webkit-tap-highlight-color: transparent;
}

:root{
  --primary-color: #370909;
  --secondary-color: #b2675e;
  --secondary-lowOpacity-color: rgba(178, 103, 94, 0.5);
  --secondary-svgLoading-color: #b2675e;
  --tertiary-color: #fff;
}

a{
  text-decoration: none;
  color:inherit;
}

button{
  cursor: pointer;
  border: none;
  background-color: rgba(0,0,0,0);
  color: #fff;
  font-family: "NTR", sans-serif;
  font-size: 1.2em;
  border-radius: 10px;
  padding: 10px 20px;
}