   
   .screenAlert{
    display: none;
  }

  .container{
    display: none;
  }

  .name{
    display:none;
    margin-top: 20px;
    letter-spacing: -0.15em;
    color: var(--primary-color);
    height: 20px;
    font-size: 3em;
    font-family: "NTR", sans-serif;
    text-align: center;
  }

  .msg{
    display: none;
    color: var(--primary-color);
    font-size: 2em;
    margin-bottom:70px;
    height: 15px;
    font-family: "NTR", sans-serif;
    text-align: center;
}
  


@media (min-width:720px) and (max-width:1040px) {

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
    }

    .screenAlert{
       display: flex;
       width: 40vw;
       height: 20vh;
       justify-content: center;
       align-items: center;
       background-color: #F8F4E3;
       color: var(--primary-color);
       border-radius: 30px;
    }

    .name{
        display: block;
        position: absolute;
        margin-top: -60px;
    }

    .msg{
        display: block;
        position: absolute;
        font-size: 1em;
        text-wrap: wrap;
        max-width: 200px;
        margin-bottom: -40px;
    }
   }
   
   @media (min-width:1041px) {
    .screenAlert{
       display: flex;
       flex-direction: column;
       width: 40vw;
       height: 25vh;
       margin-top:40vh;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       background-color: #F8F4E3;
       color: var(--primary-color);
       border-radius: 30px;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30vh;
    }
   

    .name{
        display: block;
    }

    .msg{
        display: block;
        font-size: 1.2em;
    }
   }

   