.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exerciseContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
    width: 100%;
}

.name{
    font-family: "NTR", sans-serif;
    color: #fff;
    font-weight: 100;
}

.gif{
    border-radius: 25px;
    margin-bottom: 4vh;
}

.instruction{
    font-family: "NTR", sans-serif;
    color: #fff;
    font-weight: 100;
    width: 70vw;
    text-align: justify;
    font-size: 1.3rem;
}

.backButtonContainer {
    position: sticky;
    top: -7vh;
    height: 15vh;
    display: flex;
    padding: 1vh;
    width: 100%;
    flex-direction: row;
    background-color: var(--primary-color);
    align-items: flex-end;
    justify-content: flex-end;
  }


  
  .backButton {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  border-radius: 15px;
  margin-right: 10vw;
  margin-bottom: 3vw;
  height: 5vh;
  background-color: #f8f4e3;
  color: var(--primary-color);
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
  line-height: 120%;
  }