.swipeableListItem{
  position: relative !important;
  width: 45vw !important;
  height: 7vh !important;
  overflow: hidden !important;
  border-radius: 15px !important;
  transition: transform 0.3s !important;
  font-family: "NTR", sans-serif !important;
  font-size: 1.5rem !important;
  color: #fff;
  margin: 4vw;
  
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color); /* Your custom styles */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 45vw;
}

.itemDelete {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "NTR", sans-serif !important;
  font-size: 1.5rem !important;
  color: #fff;
  background-color: red;
  display: flex !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  height: 7vh;
  width: 45vw;
}

.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.mainContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stickyDiv {
    position: sticky;
    top: -0.2vh;
    display: flex;
    padding: 1vh;
    width: 100%;
    flex-direction: row;
    background-color: var(--primary-color);
    justify-content: flex-end;
  }
  
  .stickyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    border-radius: 15px;
    height: 5vh;
    background-color: #f8f4e3;
    color: var(--primary-color);
    font-family: "NTR", sans-serif;
    font-size: 1.2rem;
    line-height: 120%;
    margin: 3vw;
  }

  .title{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "NTR", sans-serif;
    color: white;
    margin-top: 6vh;
  }