.mainContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stickyDiv {
    position: sticky;
    top: -0.2vh;
    display: flex;
    padding: 1vh;
    width: 100%;
    flex-direction: row;
    background-color: var(--primary-color);
    justify-content: flex-end;
  }
  
  .stickyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    border-radius: 15px;
    height: 5vh;
    background-color: #f8f4e3;
    color: var(--primary-color);
    font-family: "NTR", sans-serif;
    font-size: 1.2rem;
    line-height: 120%;
    margin: 3vw;
  }

  .title{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "NTR", sans-serif;
    color: white;
    margin-top: 6vh;
  }