.welcomeTitle {
  font-size: 2.5rem;
  color: #fff;
  font-family: "NTR", sans-serif;
  font-weight: 100;
  margin-top: 5vh;
  position: relative;
}

.chartContainer {
  position: relative;
  width: 90vw;
}

.mainMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.messageGoal {
  margin-top: 5vh;
  width: 80vw;
  padding: 10px;
  background-color: var(--secondary-lowOpacity-color);
  border-radius: 15px;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added shadow */
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 5vh;
  line-height: 120%;
}

.wkNumber {
  position: relative;
  margin-top: 7vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  height: 5vh;
}

.nrWorkout {
  font-size: 4rem;
}

.wkMessage {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 4vh;
  font-family: "NTR", sans-serif;
  font-weight: 100;
  width: 80vw;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added shadow */
  margin-bottom: 10vh;
  background-color: var(--secondary-lowOpacity-color);
  border-radius: 15px;
  line-height: 120%;
  text-align: center;
}
.imgButton {
  width: 50px;
  height: 50px;
}

.buttonContainer a {
  width: 20vw;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.buttonLogProtein {
  background-color: var(--secondary-lowOpacity-color);
  border-radius: 15px;
  width: 40vw;
  border: 1px solid var(--secondary-color);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-align: left;
}

.buttonLogWorkout {
  background-color: var(--secondary-lowOpacity-color);
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  width: 40vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-left: 10px;
}

.caloriesChart {
  width: 30vw;
  height: 30vw;
}

.pieChart {
  width: 30vw;
  height: 30vw;
  margin-left: 10vw;
}

.chartsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-bottom: 1vh;
  justify-content: center;
  align-items: center;
}

.caloriesNumber {
  font-size: 1.5rem;
  color: #fff;
  font-family: "NTR", sans-serif;
  font-weight: 100;
  position: relative;
  text-align: center;
}

.caloriesGoal {
  width: 80vw;
  padding: 10px;
  background-color: var(--secondary-lowOpacity-color);
  border-radius: 15px;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added shadow */
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 120%;
  margin-bottom: 3vh;
}

.carbs {
  color: rgba(158, 42, 43, 1);
}

.fats {
  color: rgba(216, 87, 42, 1);
}

.proteins {
  color: rgba(247, 181, 56, 1);
}

.macroGoal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 6vw;
  align-items: center;
  width: 80vw;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  color: var(--primary-color);
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 120%;
}

.noData {
  font-size: 1.3rem;
  color: #fff;
  background-color: var(--secondary-lowOpacity-color);
  border: 2px solid #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "NTR", sans-serif;
  font-weight: 100;
  width: 80vw;
  height: 15vh;
  position: relative;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vw;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 33vh;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  margin-top: -3vh;
}

.modalContent p {
  font-family: "NTR", sans-serif;
  font-size: 1.4rem;
  margin-top: 20vh;
  margin-left: 4vw;
  color: var(--primary-color);
  /* margin: 1vh 3vh; */
  text-align: center;
  margin-right: 4vw;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
}

.closeButton {
  font-family: "NTR", sans-serif;
  font-size: 1.5rem;
  color: var(--primary-color);
  position: relative;
  font-weight: 300;
  line-height: 0%;
  height: 10vw;
  margin-top: 0vh;
  background: var(--secondary-color);
}

.weightChart{
  width: 80vw;
  height: 30vh;
  margin-bottom: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input{
  width: 50vw;
  height: 5vh;
  margin-top: 22vh;
  border-radius: 15px;
  border: 1px solid var(--secondary-color);
  padding: 10px;
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

.buttonSave{
  width: 50vw;
  height: 5vh;
  margin-top: 2vh;
  border-radius: 15px;
  padding: 10px;
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: #fff;
}

.buttonClose{
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 2vh;
  border-radius: 15px;
  padding: 10px;
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  border: 1px solid var(--secondary-color);
  background-color: #fff;;
  color: var(--primary-color);
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.logWeightButton{
  width: 40vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-lowOpacity-color);
  border-radius: 15px;
  border: 1px solid var(--secondary-color);
  margin-top: 2vh;
}