.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color:#fff;
    margin-top:5vh;
    font-family: "NTR", sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
}

.divider{
    width: 80vw;
}

.exerciseName{
    color:#fff;
    font-family: "NTR", sans-serif;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.formLabel{
    position: relative;
    font-family: "NTR", sans-serif;
    font-size: 1.2rem;
    color: #fff;
    width: 80%;
    text-align: left;
}

.formInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust width to fit within the grid */
    margin-bottom: 2vh;
  }

.exerciseFormInfoSet{
    background-color: var(--secondary-lowOpacity-color);
    border-radius: 15px;
    margin: 2vw;
    padding:4vw;
}

.input {
    position: relative;
    width: 30vw;
    font-family: "NTR", sans-serif;
    color: #fff;
    font-size: 18px;
    padding:1vw;
    border: none;
    height: 5vh;
    background-color: var(--secondary-color);
    border-radius: 15px;
  }

  .setsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-bottom: 2vh;
  }


.exerciseInfoSelected{
    margin-bottom:10vh;
}

.formContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

.removeButton{
    background-color: var(--primary-color);
    border-radius: 25px;
    color: #fff;
    border: solid 2px #fff;
    font-family: "NTR", sans-serif;
    display: flex;
    margin: 5vw;
    justify-content: center;
    align-items: center;
}

.addButton{
    background-color: #fff;
    border-radius: 25px;
    width: 30vw;
    margin: 5vw;
    color: var(--primary-color);
    font-family: "NTR", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.savedSchedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-top: 5vh;
    color: var(--primary-color);
    margin-bottom: 5vh;
    border-radius: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background-color: #F8F4E3;
}

.buttonContainer{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.backButtonContainer {
    position: sticky;
    top: -7vh;
    height: 15vh;
    display: flex;
    z-index: 1000;
    padding: 1vh;
    width: 100%;
    flex-direction: row;
    background-color: var(--primary-color);
    align-items: flex-end;
    justify-content: flex-end;
    }
  
  
    
    .backButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15vw;
      border-radius: 15px;
      margin-right: 10vw;
      margin-bottom: 3vw;
      height: 5vh;
      background-color: #f8f4e3;
      color: var(--primary-color);
      font-family: "NTR", sans-serif;
      font-size: 1.2rem;
      line-height: 120%;
    }

    .modal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
      }
      
      .modalContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 20vh;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        margin-top: -3vh;
      }
      
      .modalContent p{
        font-family: "NTR", sans-serif;
        font-size: 1.4rem;
        margin-top: 0vh;
        margin-left: 4vw;
        color: var(--primary-color);
        /* margin: 1vh 3vh; */
        text-align: center;
        margin-right: 4vw;
      }
      
      .buttonContainer{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;
        align-items: center;
      }
      
      .closeButton{
        font-family: "NTR", sans-serif;
        font-size: 1.5rem;
        color: var(--primary-color);
        position: relative;
        font-weight: 300;
        line-height: 0%;
        height: 10vw;
        /* margin-left: 10vw; */
        margin-top: 0vh;
        background: var(--secondary-color);
      }

      .saveButton{
        font-family: "NTR", sans-serif;
        font-size: 1.5rem;
        color: var(--primary-color);
        position: relative;
        font-weight: 300;
        line-height: 0%;
        height: 10vw;
         margin-left: 10vw;
        margin-top: 0vh;
        background: var(--secondary-color);
      }