.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 2.5rem;
    color: var(--secondary-color);
    font-family: "NTR", sans-serif;
    font-weight: 100;
    margin-bottom: 2rem;
}

.subTitle{
    font-size: 1.2rem;
    color: #ffffff;
    font-family: "NTR", sans-serif;
    font-weight: 100;
    margin-bottom: 2rem;
}

.noData{
    font-size: 1.2rem;
    color: #ffffff;
    font-family: "NTR", sans-serif;
    font-weight: 100;
    margin-bottom: 2rem;
}

.schedulesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scheduleName{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-family: "NTR", sans-serif;
    font-weight: 100;
    height: 7vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 80vw;
    margin-bottom: 2rem;
}

.exit{
    font-size: 1.2rem;
    color: #ffffff;
    background-color: var(--secondary-color);
    border-radius: 15px;
    margin-top: 40vh;
    font-family: "NTR", sans-serif;
    font-weight: 100;
    margin-bottom: 2rem;
}